* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d1117;
  color: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-y: auto;
  max-height: 100vh;
}
.navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 800px;
  background-color: rgba(13, 17, 23, 0.8);
  backdrop-filter: blur(10px);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
}
.navbar.scrolled {
  border-color: rgba(255, 255, 255, 0.2);
}
.navbar-toggler {
  border: none;
}
.navbar-collapse {
  background-color: rgba(13, 17, 23, 0.95);
  border-radius: 15px;
  padding: 10px;
}
.navbar-nav {
  text-align: center;
}
.navbar-nav .nav-item {
  margin: 5px 0;
}
@media (min-width: 801px) {
  .navbar-collapse {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .navbar-nav .nav-item {
    margin: 0 10px;
  }
}
@media (max-width: 800px) {
  .navbar {
    left: 25%;
    width: 50%;
    border-radius: 15px;
    border-color: none;
    /* display: none; */
  }
  .navbar-nav .nav-item {
    margin: 10px 0;
  }
}
.section-title {
  margin-top: 80px;
  margin-bottom: 40px;
}

header {
  margin-top: 180px;
}
.text-animated {
  color: rgba(255, 255, 255, 0.2);
  font-weight: bold;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  height: 100px;
}

.cursor {
  display: inline-block;
  font-weight: bold;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.2);
  animation: blinkCursor 0.7s step-end infinite;
}

@keyframes blinkCursor {
  50% {
    opacity: 0;
  }
}

.timeline {
  position: relative;
  margin-left: 20px;
  padding-left: 30px;
  border-left: 1px solid #6c757d;
}
.timeline-item {
  position: relative;
  margin-bottom: 30px;
}
.timeline-item::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #212529;
  border: 3px solid rgba(255, 255, 255, 0.2);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.timeline-content {
  margin-left: 30px;
}
.certificate-img {
  height: 150px;
  object-fit: contain;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
a {
  color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}
a:hover {
  color: #0b5ed7;
}
.timeline-item.smkn1maja::before {
  background-image: url("img/stemdja.png");
}
.timeline-item.dreyerx::before {
  background-image: url("img/LogoOnlyPNG.png");
}
.timeline-item.venta::before {
  background-image: url("img/Gradient.png");
}
.timeline-item.unma::before {
  background-image: url("img/LOGO\ FT\ TRANSPARAN\ WARNA.png");
}
.timeline-item.negaza::before {
  background-image: url("img/negaza.png");
}
.timeline-item.psg2::before {
  background-image: url("img/psg2.png");
}
section {
  margin: 0 auto;
  max-width: 800px;
}
.row-cols-2 .col {
  margin-bottom: 15px;
}

.certificate-img {
  height: 150px;
  object-fit: contain;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.certificate-img:hover {
  transform: scale(1.1); /* Membesar sedikit */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* Menambahkan bayangan */
}

.certificate-container {
  position: relative;
}

.certificate-description {
  display: none;
  margin-top: 10px;
  font-size: 0.9rem;
  color: #555;
}

.certificate-container:hover .certificate-description {
  display: block;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 480px) {
  #about img {
    width: 120px;
    height: auto;
    margin-bottom: 20px;
  }

  #about p {
    font-size: 12px;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
  }
  #education-experience .row {
    margin-left: 20px;
  }

  #education-experience p {
    font-size: 12px;
  }

  #projects {
    margin: 20px;
  }
  #contact p {
    font-size: 14px;
  }

  #contact i {
    font-size: 14px;
  }

  #contact {
    margin-bottom: -150px;
  }
}
